body {
    font-family: 'Roboto Mono', monospace;
    background-color: #111;
}

h5 {
    margin-top: 45px;
}

.content {
    background-color: white;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 78px;
}

.tipos {
    padding-left: 60px;
}

.hr-temas {
    widows: 75%;
    background-color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sub-title {
    padding-top: 30px;
    color: #3498db;
}

.tema {
    width: 40px;
    padding-bottom: 3px;
    background-color: #2980b9;
    margin-left: 0;
    margin-top: 5px;
}

.tema-sub {
    width: 30px;
    padding-bottom: 3px;
    background-color: black;
    margin-left: 0;
    margin-top: 5px; 
}

.code-zone {
    display:flex;
    align-items: center;
}

img {
    margin: 0 auto;
}

.index-menu {
    width: 40%;
    margin: auto
}
.index-list{
    list-style: upper-roman;
    font-size: larger;
}

.se-font {
    font-family: 'Sant-Joan-Despi Regular';
    font-size: 60px;
    color: #07a0c4;
}

.code-two {
    padding: 2px 4px;
    background-color: #f5f2f0;
    border-radius: 2px;
    color: #4d2323;
}

.code-one {
    color: #e83e8c;
}

.code-or {
    color: #e8883e;
}

.code-text {
    color: #690;
}

.code-if {
    color: #07a;
}

.code-var {
    color: #74b9ff;
}

.code-con {
    color: #1dd1a1;
}

.code-am {
    color: #feca57;
}

.code-com {
    color: #05c46b;
}

.code-ret {
    color: #e83e8c;
}

.code {
    background-color: black;
    width: 90%;
    padding: 20px 30px;
    margin: 0 auto;
    color: white;
    font-size: 18px !important;
    margin-bottom: 20px;
}

.sin-padding {
    padding: 0;
    margin: 0;
}
