.mesage-final {
    text-align: center;
    font-size: 18px;
}

.div-buttons {
    width: 100%;

    button {
        width: 130px;
    }
}

.resultado {
    width: 100%;
    border: 2px solid black;
    border-radius: 15px;
    height: 50px;
    text-align: center;
}

.ejemplo-text-var {
    margin-top: 50px;
}

.close {
    display: none;
}